<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eliteshadows.saojun.sem1application" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/Ustlogo"
        android:label="Discover UST"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="Discover UST" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
